button {
  border-radius: 2px;
  margin: 0 0.25em;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 42%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border: none;
  transition: all 0.3s;
  padding: 2px 10px;
}

button:hover {
 background-color: #AFE6C3;
  transform: scale(1.05);
  box-shadow: 0 0 4px rgba(3, 3, 3, 0.8);
  opacity: 0.9;
}

button.edit {
  background: #99e39c;

}

button.delete {
  background: hwb(4deg 52% 7%);
}

button.back {
  background-color: #45e1f4;

}

.button-gap {
  gap: 15px;
}

.add-button-position {
  float: right;
}

.submit-button {
  background: #9de449;
  padding: 5px 10px;
  border: 1px;
  font-size: 13px;
  font-weight: bold;

}

.button-gap {
  gap: 15px;
}

